@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&family=Poppins:wght@200;300;600;700;800;900&family=Roboto&family=Space+Grotesk:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #f8f9fb;
  --secondary-color: #000;
  --black-color: #000000;
  --ra: #f00;
  --poppins: "poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 0 2em 0 rgb(0, 0, 0, 0.1);
  /* margin-top: 20px; */
  backdrop-filter: blur(10px);
  z-index: 9999;
}

.Nav-Bar {
  width: 100%;
  height: 100px;
}

.Nav-logo-div {
  float: left;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 80px;
}

.Nav-logo {
  display: inline-block;
  width: 250px;
}

.Nav-ul {
  margin: auto;
  float: right;
  margin-right: 120px;
  font-family: var(--poppins);
  font-size: 18px;
  margin-top: 0;
}

/* width underline */

.Nav-ul a {
  text-decoration: none;
  font-weight: 600;
}

.Nav-ul a::after {
  content: "";
  display: block;
  width: 0;
  margin-top: -15px;
  height: 4px;
  border-radius: 100px;
  border-bottom-right-radius: 0px;
  background-color: var(--ya);
  transition: width 0.3s ease;
}

.Nav-ul a:hover {
  color: var(--ya);
}

.Nav-ul a {
  color: var(--ya);
}

.Nav-ul a:hover::after {
  width: 60%;
  margin-top: -15px;
}

/* width underline */

.Nav-li {
  list-style: none;
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
  font-family: var(--poppins);
  font-size: 18px;
  font-weight: 400;
}

.Nav-a {
  text-decoration: none;
  color: #000;
  font-size: 21px;
  padding: 5px 10px;
  cursor: pointer;
}

.Nav-a:active {
  font-size: 27px;
}

.HamBurger {
  display: none;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.Nav-Bar-Line {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  border-radius: 10px;
  background-color: #ff0;
}

@media (max-width: 995px) {
  .Nav-a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 16px;
    padding: 5px 5px;
  }

  .Nav-li {
    list-style: none;

    display: inline-block;
    line-height: 70px;
    margin: 0 3px;

    font-size: 16px;
    font-weight: 400;
  }

  .Nav-logo-div {
    float: left;
    width: 180px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Nav-logo {
    display: inline-block;
    width: 140px;
  }

}

@media (max-width: 768px) {
  .h-tags {
    font-size: 24px;
    font-weight: 600;
    font-family: var(--poppins);
  }

  .Nav-logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 350px;
    height: 70px;
  }

  .Nav-logo {
    margin-top: 7%;
    height: 114%;
    aspect-ratio: 1/1;
  }

  /* width underline */

  .Nav-ul a {
    text-decoration: none;
  }

  .Nav-ul a:hover {
    color: red;
    font-weight: 0;
  }

  .Nav-ul a:hover::after {
    width: 0%;
  }

  /* width underline */

  .HamBurger {
    display: block;
  }

  .HamBurger.Active .Nav-Bar-Line:nth-child(2) {
    opacity: 0;
  }

  .HamBurger.Active .Nav-Bar-Line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .HamBurger.Active .Nav-Bar-Line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .Nav-ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: var(--primary-color);
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  .Nav-li {
    list-style: none;
    display: block;
    line-height: 30px;
    margin: 50px 0;
    padding: 0;

    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 400;
  }

  .Nav-a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 24px;
    padding: 5px 10px;
  }

  .Nav-ul,
  .Nav-a:hover {
    color: var(--secondary-color);
    font-size: 24px;
  }

  .Nav-ul.Active {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #ffefc6;
    color: var(--secondary-color);
    top: 70px;
    left: 0;
    text-align: center;
    transition: all 0.5s;
  }
}

@media (max-width: 426px) {
  .h-tags {
    font-size: 16px;
    font-weight: 600;
    font-family: var(--poppins);
  }

  .Nav-logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 150px;
    height: 70px;
    margin-left: 5px;
  }

  .Nav-logo {
    display: inline;
    width: 150px;
  }


}

.Act {
  display: none;
}

.header-logo {
  width: 9em;
  height: auto;
}